#selinux policy allowing apache and thelounge IRC
module apache_custom 2.1;

require {
        type initrc_t;
        type node_t;
        type cslistener_port_t;
        type usr_t;
        type zero_device_t;
        type console_device_t;
        type device_t;
        type httpd_t;
        type udevadm_t;
        type init_t;
        type nfs_t;
	type run_init_t;
	type security_t;
	type sysctl_kernel_t;

	type sysadm_t;
	type httpd_log_t;

        class tcp_socket {node_bind name_bind};
        class process {execmem};
        class file {watch write execute map execute_no_trans create unlink};
        class chr_file {map read write open};
        class fd {use};
        class dir {create write add_name remove_name search};
}


allow initrc_t cslistener_port_t:tcp_socket {name_bind};
allow initrc_t node_t:tcp_socket {node_bind};
allow initrc_t self:process {execmem};
allow initrc_t usr_t:file {execute execute_no_trans};
allow httpd_t zero_device_t:chr_file {map};
allow udevadm_t console_device_t:chr_file {read write};
allow udevadm_t init_t:fd {use};
allow httpd_t device_t:chr_file {read open};

allow run_init_t init_t:dir {search};
allow run_init_t security_t:file {map};
allow run_init_t sysctl_kernel_t:dir {search};

#for imagehost
allow httpd_t nfs_t:dir {create write add_name remove_name};
allow httpd_t nfs_t:file {create write unlink};

#watch log
allow sysadm_t httpd_log_t:file {watch};
