#selinux policy allowing apache and thelounge IRC
module apache_custom 2.3;

require {
        type cslistener_port_t;
        type console_device_t;
        type device_t;
	type etc_runtime_t;
        type httpd_t;
	type httpd_log_t;
        type initrc_t;
        type init_t;
        type nfs_t;
        type node_t;
	type run_init_t;
	type rpcd_t;
	type security_t;
	type sysadm_t;
	type sysctl_kernel_t;
        type udevadm_t;
        type usr_t;
	type var_lib_t;
        type zero_device_t;

	class capability {dac_read_search};
        class chr_file {map read write open};
        class dir {create write add_name remove_name search};
        class file {create execute execute_no_trans getattr map open unlink watch write};
        class fd {use};
        class process {execmem};
        class tcp_socket {node_bind name_bind};
}


allow initrc_t cslistener_port_t:tcp_socket {name_bind};
allow initrc_t node_t:tcp_socket {node_bind};
allow initrc_t self:process {execmem};
allow initrc_t usr_t:file {execute execute_no_trans};
allow httpd_t zero_device_t:chr_file {map};
allow udevadm_t console_device_t:chr_file {read write};
allow udevadm_t init_t:fd {use};
allow httpd_t device_t:chr_file {read open};
allow httpd_t var_lib_t:file {write};
allow run_init_t init_t:dir {search};
allow run_init_t security_t:file {map};
allow run_init_t sysctl_kernel_t:dir {search};
allow rpcd_t self:capability {dac_read_search};

#for imagehost
allow httpd_t nfs_t:dir {create write add_name remove_name};
allow httpd_t nfs_t:file {create write unlink};

#watch log
allow sysadm_t httpd_log_t:file {watch};

#let apache read modsecurity config
allow run_init_t etc_runtime_t:file {getattr open};
