module base_custom 3.3;
#basic policy for minimal gentoo systems running initrc

require {
    type staff_sudo_t;
    type staff_t;
    type sysadm_t;

    type kernel_t;
    type kmod_t;

    type locale_t;
    type mount_t;
    type udev_t;
    type init_t;
    type node_t;
    type proc_t;
    type initrc_t;
    type udev_runtime_t;
    type udev_rules_t;
    type dmesg_t;
    type device_t;
    type lvm_t;
    type console_device_t;
    type systemd_hwdb_t;
    type getty_t;
    type getty_runtime_t;
    type initrc_runtime_t;
    type run_init_t;
    type sysctl_kernel_t;
    type init_t;
    type hwclock_t;
    type udevadm_t;
    type devlog_t;

    type tmpfiles_t;
    type tmpfs_t;
    type var_t;
    type nsfs_t;
    type etc_t;
    type portage_tmp_t;
    type initrc_tmp_t;
    type initrc_state_t;
    type auditctl_t;
    type auditd_t;

    type dhcpc_t;
    type dhcpc_script_t;
    type resolvconf_t;
    type resolvconf_conf_t;
    type sshd_t;
    type ssh_keygen_t;
    type cgroup_t;
    type default_context_t;
    type ntp_drift_t;
    type ntp_port_t;
    type ntpd_pid_t;
    type ntpd_t;
    type ntpd_exec_t;
    type ntpd_initrc_exec_t;
    type syslogd_t;

    type logrotate_t;
    type var_lib_t;
    type var_log_t;
    type system_cronjob_t;
    type system_cron_spool_t;
    type system_cronjob_tmp_t;
    type system_mail_t;
    type var_spool_t;
    type crond_t;
    type cron_spool_t;
    type logrotate_t;
    type mandb_t;
    type chkpwd_t;
    type faillog_t;
    type hostname_t;
    type audisp_remote_exec_t;
    type local_login_t;

    type semanage_t;
    type security_t;
    type setfiles_t;

    class chr_file {open read write getattr setattr ioctl open};
    class fd {use};
    class lnk_file {read rename unlink create getattr};
    class capability {dac_override kill net_bind_service setgid setuid sys_ptrace sys_resource sys_time sys_tty_config dac_read_search chown};
    class system {module_request};
    class dir {open add_name getattr create remove_name rmdir watch write search mounton read};
    class file {execute execute_no_trans link setattr create open read lock write rename unlink getattr map ioctl watch};
    class vsock_socket {bind connect create getattr getopt read write};
    class unix_stream_socket {getattr connectto};
    class key {read setattr view write};
    class filesystem {getattr};
    class netlink_generic_socket {bind create getattr read write};
    class netlink_route_socket {create bind getattr reate nlmsg_read read write};
    class packet_socket {getattr};
    class rawip_socket {getattr};
    class netlink_kobject_uevent_socket {getattr};
    class netlink_audit_socket {getattr};
    class process {setrlimit signull signal getcap setcap getpgid};
    class unix_dgram_socket {getattr sendto read write ioctl create connect};
    class unix_stream_socket {getattr sendto read write ioctl create connect};
    class udp_socket {bind connect setopt create getattr read write node_bind name_bind};
    class tcp_socket {create};
    class sock_file {write};
}


#background trash
allow system_mail_t self:capability {dac_read_search};
allow system_mail_t var_spool_t:dir {write add_name read remove_name};
allow system_mail_t var_spool_t:file {link read create open write};
allow mandb_t system_cronjob_tmp_t:file {read write};
allow crond_t cron_spool_t:dir {watch};
allow crond_t system_cron_spool_t:dir {watch};
allow crond_t system_cron_spool_t:file {watch};
allow system_cronjob_t initrc_state_t:lnk_file {read};
allow system_cronjob_t portage_tmp_t:lnk_file {read};
allow system_cronjob_t faillog_t:dir {write add_name};
allow system_cronjob_t security_t:file {map};
allow system_cronjob_t self:process {getcap};
allow system_cronjob_t faillog_t:file {create lock open read setattr write};
allow logrotate_t system_cronjob_tmp_t:file {read write};
allow logrotate_t var_lib_t:file {setattr create open write rename unlink write};
allow logrotate_t system_cronjob_tmp_t:file {ioctl};
allow system_cronjob_t initrc_state_t:file {read};
allow system_mail_t var_spool_t:file {unlink};


#DHCP
allow dhcpc_t nsfs_t:file {getattr};
allow dhcpc_t self:capability {chown};
allow dhcpc_t self:unix_dgram_socket {sendto};
allow auditctl_t proc_t:filesystem {getattr};
allow hostname_t dhcpc_t:unix_dgram_socket {read write};
allow resolvconf_t dhcpc_t:unix_dgram_socket {getattr ioctl read write};
allow hwclock_t proc_t:filesystem {getattr};
allow initrc_t auditd_t:netlink_audit_socket {getattr};
allow initrc_t auditd_t:unix_stream_socket {getattr};
allow initrc_t dhcpc_t:netlink_generic_socket {getattr};
allow initrc_t dhcpc_t:netlink_route_socket {getattr};
allow initrc_t dhcpc_t:packet_socket {getattr};
allow initrc_t dhcpc_t:rawip_socket {getattr};
allow initrc_t dhcpc_t:unix_stream_socket {getattr};
allow dhcpc_script_t dhcpc_t:unix_dgram_socket {read write ioctl};
allow dhcpc_script_t sysctl_kernel_t: dir {search read};
allow dhcpc_script_t devlog_t:sock_file {write};
allow dhcpc_script_t dhcpc_t:unix_dgram_socket {getattr};
allow dhcpc_script_t locale_t:file {read getattr map open};
allow dhcpc_script_t locale_t:dir {search};
allow dhcpc_script_t self:unix_dgram_socket {connect ioctl write create};
allow dhcpc_script_t sysctl_kernel_t: file {read};
allow dhcpc_script_t sysctl_kernel_t:file {ioctl open write};
allow dhcpc_script_t cgroup_t:dir {getattr open read remove_name rmdir search write};
allow dhcpc_script_t cgroup_t:file {getattr ioctl open read write};
allow dhcpc_script_t default_context_t:dir {search};
allow dhcpc_script_t default_context_t:file {getattr open read};
allow dhcpc_script_t init_t:dir {search};
allow dhcpc_script_t init_t:file {getattr open read};
allow dhcpc_script_t initrc_state_t:dir {add_name getattr open read remove_name search write};
allow dhcpc_script_t initrc_state_t:file {create getattr open read unlink write};
allow dhcpc_script_t initrc_state_t:lnk_file {getattr read};
allow dhcpc_script_t kernel_t:system {module_request};
allow dhcpc_script_t node_t:udp_socket {node_bind};
allow dhcpc_script_t nsfs_t:file {getattr};
allow dhcpc_script_t ntp_drift_t:dir {search};
allow dhcpc_script_t ntp_drift_t:file {getattr open read};
allow dhcpc_script_t ntp_port_t:udp_socket {name_bind};
allow dhcpc_script_t ntpd_exec_t:file {execute execute_no_trans getattr map open read};
allow dhcpc_script_t ntpd_initrc_exec_t:file {execute execute_no_trans getattr open read};
allow dhcpc_script_t ntpd_pid_t:file {getattr open read unlink};
allow dhcpc_script_t ntpd_t:dir {search};
allow dhcpc_script_t ntpd_t:file {read};
allow dhcpc_script_t ntpd_t:lnk_file {read};
allow dhcpc_script_t ntpd_t:process {signal signull};
allow dhcpc_script_t proc_t:filesystem {getattr};
allow dhcpc_script_t self:capability {dac_override kill net_bind_service setgid setuid sys_ptrace sys_resource sys_time};
allow dhcpc_script_t self:netlink_route_socket {bind create getattr nlmsg_read read write};
allow dhcpc_script_t self:process {setcap setrlimit signal signull};
allow dhcpc_script_t self:tcp_socket {create};
allow dhcpc_script_t self:udp_socket {bind connect create getattr read setopt write};
allow dhcpc_script_t self:unix_stream_socket {create read write};
allow dhcpc_script_t syslogd_t:unix_dgram_socket {sendto};
allow dhcpc_script_t var_lib_t:dir {search};
allow resolvconf_t self:process {signull};
allow run_init_t init_t:dir {search};
allow run_init_t init_t:file {getattr open};
allow run_init_t initrc_state_t:file {getattr open read};
allow run_init_t proc_t:filesystem {getattr};
allow run_init_t sysctl_kernel_t:dir {search};
allow run_init_t sysctl_kernel_t:file {open read};

#booting
allow lvm_t device_t:chr_file {open read write};
allow initrc_t portage_tmp_t:lnk_file {read};
allow initrc_t etc_t:lnk_file {rename unlink create};
allow initrc_t kernel_t:system {module_request};
allow initrc_t nsfs_t:file {getattr};
allow initrc_t portage_tmp_t:lnk_file {read};
allow initrc_t self:vsock_socket {bind connect create getattr getopt read write};
allow initrc_t resolvconf_conf_t:file {open read};
allow initrc_t var_t:file {open read};
allow initrc_t sshd_t:unix_stream_socket {getattr};
allow initrc_t udev_t:netlink_kobject_uevent_socket {getattr};
allow initrc_t udev_t:unix_stream_socket {getattr};
allow kernel_t etc_t:file {getattr lock open read};
allow kernel_t portage_tmp_t:lnk_file {read};
allow kernel_t self:key {read setattr view write};
allow kmod_t device_t:chr_file {getattr open read write};
allow kmod_t initrc_tmp_t:file {read};
allow tmpfiles_t device_t:chr_file {setattr};
allow tmpfiles_t self:capability {dac_read_search sys_tty_config};
allow udev_t udev_rules_t:dir {watch};
allow udev_t udev_runtime_t:dir {watch};
allow udev_t portage_tmp_t:lnk_file {read};
allow dmesg_t etc_t:file {getattr open read};
allow mount_t initrc_tmp_t:dir {mounton};
allow udev_t systemd_hwdb_t:file {getattr map open read};
allow getty_t getty_runtime_t:file {watch};
allow ssh_keygen_t proc_t:file {read open getattr};
allow tmpfiles_t sysctl_kernel_t:dir {search};
allow tmpfiles_t sysctl_kernel_t:file {read open};
allow udevadm_t console_device_t:chr_file {read write};
allow udevadm_t init_t:fd {use};
allow auditd_t audisp_remote_exec_t:file {getattr};

#wg connect
allow initrc_t self:netlink_generic_socket {bind create getattr read write};
allow initrc_t node_t:udp_socket node_bind;

#services
allow dhcpc_script_t console_device_t:chr_file {getattr ioctl open read write};
allow dhcpc_script_t init_t:fd {use};
allow dhcpc_script_t portage_tmp_t:lnk_file {read};
allow dhcpc_script_t self:capability {sys_tty_config};
allow dhcpc_t portage_tmp_t:lnk_file {read};
allow resolvconf_t init_t:fd {use};
allow resolvconf_t self:capability {sys_tty_config};
allow resolvconf_t proc_t:file {getattr open read};
allow resolvconf_t tmpfs_t:filesystem {getattr};
allow ssh_keygen_t locale_t:dir {search};
allow ssh_keygen_t locale_t:file {getattr map open read};
allow sshd_t self:process {getcap setcap};
allow run_init_t init_t:file {read};
allow chkpwd_t sysctl_kernel_t:dir {search};
allow chkpwd_t sysctl_kernel_t:file {read open};
allow chkpwd_t proc_t:filesystem {getattr};
allow sshd_t var_log_t:dir {add_name write};
allow sshd_t var_log_t:file {create getattr lock open read write};
allow local_login_t proc_t:filesystem {getattr};

#sudo
allow staff_sudo_t staff_t:dir {search};
allow staff_sudo_t staff_t:file {open read};
allow staff_sudo_t proc_t:filesystem {getattr};
allow staff_sudo_t staff_t:process {getpgid};
allow staff_sudo_t sysadm_t:process {signal};

#semanage
allow semanage_t proc_t:filesystem {getattr};
allow setfiles_t proc_t:filesystem {getattr};
allow setfiles_t sysctl_kernel_t:file {open read};
