module base_custom 4.1;
#basic policy for minimal gentoo systems running initrc

require {
	type auditctl_t;
	type auditd_t;
	type audisp_remote_exec_t;
	type device_t;
	type dmesg_t;
	type etc_t;
	type faillog_t;
	type getty_t;
	type hwclock_t;
	type initrc_t;
	type initrc_tmp_t;
	type kernel_t;
	type kmod_t;
	type local_login_t;
	type logrotate_t;
	type nsfs_t;
	type mandb_t;
	type mount_t;
	type portage_tmp_t;
	type proc_t;
	type security_t;
	type semanage_t;
	type setfiles_t;
	type sysctl_kernel_t;
	type system_cronjob_t;
	type system_cronjob_tmp_t;
	type system_mail_t;
	type tmpfiles_t;
	type udev_t;
	type udev_rules_t;
	type udev_runtime_t;
	type var_lib_t;
	type var_log_t;
	type var_spool_t;

	class capability {dac_read_search sys_tty_config};
	class chr_file {getattr open read setattr write};
	class dir {add_name create mounton read remove_name search setattr watch write};
	class fifo_file {open write};
	class file {create getattr ioctl link lock map open read setattr unlink write};
	class filesystem {getattr};
	class lnk_file {create read rename unlink};
	class netlink_audit_socket {getattr};
	class netlink_kobject_uevent_socket {getattr};
	class process {getcap};
	class unix_stream_socket {getattr};
}

#booting and general usage
allow auditctl_t proc_t:filesystem {getattr};
allow auditd_t audisp_remote_exec_t:file {getattr};
allow dmesg_t etc_t: file {getattr open read};
allow getty_t var_lib_t:dir {search};
allow getty_t var_log_t:file {lock open write};
allow hwclock_t proc_t:filesystem {getattr};
allow initrc_t auditd_t:netlink_audit_socket {getattr};
allow initrc_t auditd_t:unix_stream_socket {getattr};
allow initrc_t etc_t:lnk_file {create rename unlink};
allow initrc_t nsfs_t:file {getattr};
allow initrc_t portage_tmp_t:lnk_file {read};
allow initrc_t udev_t:netlink_kobject_uevent_socket {getattr};
allow initrc_t udev_t:unix_stream_socket {getattr};
allow kernel_t portage_tmp_t:lnk_file {read};
allow kmod_t initrc_tmp_t:file {open read};
allow kmod_t device_t:chr_file {getattr open read write};
allow local_login_t var_log_t:file {lock open};
allow mount_t initrc_tmp_t: dir {mounton};
allow semanage_t proc_t: file {getattr};
allow semanage_t proc_t:filesystem {getattr};
allow setfiles_t proc_t:filesystem {getattr};
allow setfiles_t sysctl_kernel_t:file {open read};
allow tmpfiles_t device_t:chr_file {setattr};
allow tmpfiles_t self:capability {sys_tty_config};
allow tmpfiles_t sysctl_kernel_t:dir {search};
allow tmpfiles_t sysctl_kernel_t:file {open read};
allow udev_t portage_tmp_t:lnk_file {read};
allow udev_t udev_rules_t:dir {watch};
allow udev_t udev_runtime_t:dir {watch};


#backround
allow logrotate_t system_cronjob_tmp_t:file {read ioctl write};
allow logrotate_t var_lib_t:file {write};
allow logrotate_t var_log_t:dir {create setattr};
allow mandb_t system_cronjob_tmp_t:file {read write};
allow system_cronjob_t faillog_t:dir {add_name write};
allow system_cronjob_t faillog_t:file {create lock open read setattr write};
allow system_cronjob_t security_t:file {map};
allow system_cronjob_t self:process {getcap};
allow system_cronjob_t portage_tmp_t:lnk_file {read};
allow system_mail_t self:capability {dac_read_search};
allow system_mail_t var_spool_t:dir {add_name read remove_name write};
allow system_mail_t var_spool_t:fifo_file {open write};
allow system_mail_t var_spool_t:file {create link open read unlink write};


