module certbot_cron 1.1;
#module to allow for certbot to run in a nfs share by non root user by crontab

require {
    type crontab_t;
    type crond_t;
    type user_home_t;
    type http_port_t;
    type faillog_t;
    type nfs_t;
    type var_spool_t;
    type httpd_config_t;
    type system_mail_t;
    type user_cron_spool_t;
    type staff_t;
    type mnt_t;
    type system_cronjob_t;
    type initrc_state_t;
    class dir {add_name create getattr open read remove_name rmdir search write};
    class file {create execute execute_no_trans getattr ioctl link open read rename setattr unlink write entrypoint};
    class tcp_socket {name_connect};
    class fifo_file {open write};
}

allow crond_t http_port_t:tcp_socket {name_connect};
allow crond_t httpd_config_t:dir {search};
allow crond_t mnt_t:dir {getattr search};
allow crond_t nfs_t:dir {add_name create getattr open read remove_name rmdir search write};
allow crond_t nfs_t:file {create execute execute_no_trans rename setattr unlink};

allow crond_t user_home_t:dir {getattr open read search};
allow crond_t user_home_t:file {getattr ioctl open read};

allow crontab_t faillog_t:dir {search};
allow crontab_t mnt_t:dir {getattr search};
allow crontab_t nfs_t:dir {getattr search};

allow system_mail_t var_spool_t:fifo_file {open write};
allow system_mail_t var_spool_t:file {link open read unlink write};

allow staff_t user_cron_spool_t:file {entrypoint execute execute_no_trans open read write};
allow system_cronjob_t initrc_state_t:file {read};
