module certbot_cron_custom 2.5;
#module to allow for certbot to run in a nfs share from the cron folders

require {
	type cgroup_t;
	type http_port_t;
	type httpd_t;
	type httpd_runtime_t;
	type init_t;
	type initrc_state_t;
	type kernel_t;
	type nfs_t;
	type user_home_t; #for the local bin
	type proc_t;
	type run_init_t;
	type staff_t;
	type sysadm_sudo_t;
	type sysctl_kernel_t;
	type system_cronjob_t;
	type system_mail_t;
	type user_tmp_t;
	type var_spool_t;

	class dir {add_name create relabelfrom relabelto remove_name rmdir write};
	class fifo_file {open read unlink write};
	class file {create execute execute_no_trans getattr ioctl map open read relabelfrom rename setattr unlink};
	class filesystem {getattr};
	class process {setcap signal signull};
	class system {module_request};
	class tcp_socket {name_connect};
}

allow run_init_t init_t:file {getattr open};
allow run_init_t initrc_state_t:file {getattr open read};
allow run_init_t proc_t:filesystem {getattr};
allow run_init_t sysctl_kernel_t:file {open read};
allow staff_t cgroup_t:dir {write};
allow staff_t httpd_runtime_t:dir {relabelfrom relabelto};
allow staff_t httpd_t:process {signal signull};
allow staff_t user_tmp_t:file {relabelfrom};
allow sysadm_sudo_t proc_t:filesystem {getattr};
allow system_cronjob_t http_port_t:tcp_socket {name_connect};
allow system_cronjob_t httpd_runtime_t:file {open read};
allow system_cronjob_t httpd_t:process {signull};
allow system_cronjob_t initrc_state_t:file {open read};
allow system_cronjob_t kernel_t:system {module_request};
allow system_cronjob_t nfs_t:dir {add_name create remove_name rmdir write};
allow system_cronjob_t nfs_t:file {create execute execute_no_trans rename setattr unlink};
allow system_cronjob_t self:process {setcap};
allow system_cronjob_t user_home_t:file {execute execute_no_trans ioctl map open read};
allow system_mail_t var_spool_t:fifo_file {open write};
allow system_mail_t var_spool_t:file {unlink};
allow tmpfiles_t crond_t:fifo_file {read write};
