module dns_cron 1.0;
#selinux policy for cron job to reload adblock zones

require {
    type admin_crontab_t;
    type named_cache_t;
    type named_zone_t;
    type portage_tmp_t;
    type faillog_t;
    type proc_t;
    type crontab_t;
    type crond_t;
    type sysctl_kernel_t;
    type dnssec_t;
    type http_port_t;
    type kernel_t;
    type ndc_exec_t;
    type node_t;
    type rndc_port_t;
    type ndc_t;
    type system_mail_t;
    type var_spool_t;

    class dir {add_name remove_name write search getattr open read};
    class lnk_file {read};
    class process {setcap getsched setsched};
    class filesystem {getattr};
    class file {getattr ioctl unlink execute execute_no_trans map append create rename setattr write open read};
    class tcp_socket {name_connect node_bind};
    class system {module_request};
}

allow admin_crontab_t named_cache_t:dir {search};
allow admin_crontab_t named_zone_t:dir {getattr search};
allow admin_crontab_t named_zone_t:lnk_file {read};
allow admin_crontab_t portage_tmp_t:lnk_file {read};
allow admin_crontab_t proc_t:filesystem {getattr};
allow admin_crontab_t sysctl_kernel_t:dir {search};
allow admin_crontab_t sysctl_kernel_t:file {open read};

allow crontab_t faillog_t:dir {search};
allow crontab_t portage_tmp_t:lnk_file {read};
allow crontab_t proc_t:filesystem {getattr};
allow crontab_t self:process {setcap};
allow crontab_t sysctl_kernel_t:dir {search};
allow crontab_t sysctl_kernel_t:file {open read};

allow crond_t dnssec_t:file {getattr open read};
allow crond_t http_port_t:tcp_socket {name_connect};

allow crond_t kernel_t:system {module_request};
allow crond_t named_cache_t:dir {search};

allow crond_t named_zone_t:dir {getattr open read add_name remove_name search write};
allow crond_t named_zone_t:file {append create rename setattr write getattr ioctl open read unlink};
allow crond_t named_zone_t:lnk_file {read};
allow crond_t ndc_exec_t:file {execute execute_no_trans getattr map open read};
allow crond_t node_t:tcp_socket {node_bind};
allow crond_t rndc_port_t:tcp_socket {name_connect};
allow ndc_t kernel_t:system {module_request};
allow ndc_t self:process {getsched setsched};

allow system_mail_t var_spool_t:dir {read remove_name};
allow system_mail_t var_spool_t:fifo_file {open write};
allow system_mail_t var_spool_t:file {link read unlink};
