module net_mounts_custom 2.2;
#polciy for BASIC nfs and samba mount support

require {
	type initrc_t;
	type kernel_t;
	type mount_t;
	type nfs_t;
	type rpcbind_t;
	type rpcd_t;
	type rpc_pipefs_t;
	type rpcbind_runtime_t;

	class dir {add_name create remove_name rmdir watch write};
	class file {getattr open read rename unlink};
	class key {read setattr view write};
	class sock_file {write};
	class unix_stream_socket {connectto getattr};
}

allow initrc_t nfs_t:dir {add_name create remove_name rmdir watch write};
allow initrc_t rpcbind_t:unix_stream_socket {getattr};
allow initrc_t nfs_t:file {open read rename unlink};
allow kernel_t rpcbind_t:unix_stream_socket {connectto};
allow kernel_t self:key {read setattr view write};
allow mount_t rpcbind_runtime_t:sock_file {write};
allow rpcd_t rpc_pipefs_t:dir {watch};
