module portage_custom 1.6;
#selinux policy for portage
require {
	type bin_t;
	type bootloader_t;
	type chkpwd_t;
	type dosfs_t;
	type gcc_config_t;
	type kernel_t;
	type lib_t;
	type mount_t;
	type portage_t;
	type portage_devpts_t;
	type portage_fetch_t;
	type portage_sandbox_t;
	type portage_tmp_t;
	type proc_t;
	type root_t;
	type src_t;
	type sysfs_t;
	type sysctl_kernel_t;
	type systemd_hwdb_t;
	type tmpfs_t;
	type udev_t;
	type unlabeled_t;

	class capability {dac_read_search};
	class chr_file {append getattr ioctl read};
	class dir {getattr read search watch write};
	class file {getattr open read};
	class filesystem {getattr};
	class lnk_file {create read};
	class process {getsched};
	class system {module_request};
	class unix_stream_socket {connectto};
}

allow bootloader_t portage_tmp_t:lnk_file {read};
allow bootloader_t self:process {getsched};
allow bootloader_t tmpfs_t:dir {read};
allow chkpwd_t proc_t:filesystem {getattr};
allow chkpwd_t sysctl_kernel_t:dir {search};
allow chkpwd_t sysctl_kernel_t:file {open read};
allow gcc_config_t bin_t:lnk_file {create};
allow gcc_config_t lib_t:lnk_file {create};
allow gcc_config_t portage_devpts_t:chr_file {append getattr ioctl read};
allow gcc_config_t portage_tmp_t:dir {write};
allow gcc_config_t portage_tmp_t:lnk_file {read};
allow gcc_config_t root_t:dir {write};
allow gcc_config_t self:capability {dac_read_search};
allow gcc_config_t self:process {getsched};
allow gcc_config_t sysfs_t:lnk_file {read};
allow mount_t dosfs_t:filesystem {getattr};
allow portage_t portage_fetch_t:unix_stream_socket {connectto};
allow portage_fetch_t dosfs_t:dir {getattr search};
allow portage_fetch_t portage_tmp_t:dir {watch};
allow portage_fetch_t src_t:dir {getattr search};
allow portage_sandbox_t kernel_t:system {module_request};
allow portage_sandbox_t unlabeled_t:file {getattr};
allow udev_t systemd_hwdb_t:file {getattr read};
