module samba_custom 1.6;
#policy for smb AD DS server

require {
	type avahi_t;
	type dns_port_t;
	type dosfs_t;
	type etc_t;	
	type epmap_port_t;
	type initrc_t;
	type initrc_state_t;
	type kerberos_admin_port_t;
	type krb5kdc_t;
	type kernel_t;
	type ldap_port_t;
	type mount_t;
	type nfsd_t;
	type nfsd_fs_t;
	type nmbd_port_t;
	type node_t;
	type nsfs_t;
	type public_content_rw_t;
	type rpc_pipefs_t;
	type rpcbind_t;
	type rpcd_t;
	type samba_etc_t;
	type samba_log_t;
	type samba_runtime_t;
	type samba_var_t;
	type security_t;
	type semanage_t;
	type sysadm_t;
	type system_dbusd_t;
	type unlabeled_t;
	type unreserved_port_t;
	type var_lib_t;
	type var_lock_t;
	type smbd_t;
	type winbind_t;

	class capability {dac_read_search};
	class dir {add_name create getattr read rename remove_name rmdir search watch write};
	class file {append create execute getattr ioctl lock map open read rename setattr unlink write};
	class filesystem {getattr};
	class lnk_file {read};	
	class sock_file {create unlink write};
	class system {module_request};
	class tcp_socket {name_bind node_bind};
	class udp_socket {name_bind node_bind};
	class unix_dgram_socket {sendto};
	class unix_stream_socket {connectto sendto};
}

allow avahi_t etc_t:dir {watch};
allow initrc_t dns_port_t:tcp_socket {name_bind};
allow initrc_t dns_port_t:udp_socket {name_bind};
allow initrc_t epmap_port_t:tcp_socket {name_bind};
allow initrc_t initrc_state_t:file {map};
allow initrc_t kerberos_admin_port_t:tcp_socket {name_bind};
allow initrc_t kerberos_admin_port_t:udp_socket {name_bind};
allow initrc_t ldap_port_t:tcp_socket {name_bind};
allow initrc_t ldap_port_t:udp_socket {name_bind};
allow initrc_t nfsd_fs_t:file {open read};
allow initrc_t nmbd_port_t:udp_socket {name_bind};
allow initrc_t node_t:tcp_socket {node_bind};
allow initrc_t node_t:udp_socket {node_bind};
allow initrc_t public_content_rw_t:dir {add_name create remove_name rename rmdir watch write};
allow initrc_t public_content_rw_t:file {append create execute ioctl lock setattr map open read rename unlink write};
allow initrc_t public_content_rw_t:lnk_file {read};
allow initrc_t self:unix_dgram_socket {sendto};
allow initrc_t samba_runtime_t:sock_file {create};
allow initrc_t samba_log_t:dir {add_name remove_name write};
allow initrc_t samba_log_t:file {create rename unlink};
allow initrc_t samba_var_t:file {create ioctl lock map open read write};
allow initrc_t samba_var_t:dir {add_name remove_name write};
allow initrc_t samba_var_t:sock_file {create unlink write};
allow initrc_t unreserved_port_t:tcp_socket {name_bind};
allow initrc_t unreserved_port_t:udp_socket {name_bind};
allow initrc_t var_lock_t:file {map};
allow kernel_t nfsd_fs_t:dir {search};
allow kernel_t nfsd_fs_t:file {open write};
allow kernel_t public_content_rw_t:file {execute};
allow kernel_t rpcbind_t:unix_stream_socket {connectto};
allow krb5kdc_t kernel_t:system {module_request};
allow krb5kdc_t samba_etc_t:dir {search};
allow krb5kdc_t samba_etc_t:file {getattr open read};
allow krb5kdc_t samba_log_t:dir {add_name search write};
allow krb5kdc_t samba_log_t:file {append create getattr open};
allow krb5kdc_t samba_var_t:dir {getattr search};
allow krb5kdc_t samba_var_t:file {getattr lock map open read write};
allow krb5kdc_t var_lock_t:file {read write};
allow krb5kdc_t var_lib_t:dir {search};
allow nfsd_t nfsd_fs_t:dir {read watch};
allow nfsd_t unlabeled_t:dir {getattr search};
allow mount_t dosfs_t:filesystem {getattr};
allow rpcd_t rpc_pipefs_t:dir {watch};
allow rpcd_t self:capability {dac_read_search};
allow semanage_t public_content_rw_t:dir {search};
allow smbd_t kernel_t:system {module_request};
allow smbd_t public_content_rw_t:dir {watch};
allow smbd_t samba_var_t:file {map};
allow smbd_t unlabeled_t:dir {getattr search};
allow smbd_t var_lock_t:file {map};
allow smbd_t winbind_t:unix_dgram_socket {sendto};
allow sysadm_t nsfs_t:file {getattr};
allow system_dbusd_t security_t:file {map};
allow winbind_t initrc_t:unix_stream_socket {connectto};
allow winbind_t samba_var_t:file {map};
allow winbind_t self:unix_dgram_socket {sendto};
allow winbind_t smbd_t:unix_dgram_socket {sendto};
allow winbind_t var_lock_t:dir {add_name getattr remove_name search write};
allow winbind_t var_lock_t:file {create getattr lock map open read unlink write};
allow winbind_t var_lock_t:lnk_file {read};
